<!-- templates/base.html -->
 {% load static %}

<html>
<head>
    <title>Django Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
rel="stylesheet">
</head>

<body>
    <header>
        <h1>
            <div>
            <a href = "{% url 'home' %}"> Django Blog </a>
            </div>
            <div class="nav-right">
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
            <div>
                <a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a>
            </div>
        </h1>
    </header>
    <div>
        {% block content %}

        {% endblock %}  
    </div>

</body>