<!-- templates/base.html -->
 {% load static %}

<html>
<head>
    <title>Django Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
rel="stylesheet">
</head>

<body>
    <header>
        <h1>
            <div>
            <a href = "{% url 'home' %}"> Django Blog </a>
            </div>
            <div class="nav-right">
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
            
        </h1>
    </header>
    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
    </form>
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>|<a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}

    <div>
        {% block content %}

        {% endblock %}  
    </div>

</body>